################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VarosiForgalom/obj
/VarosiForgalom/.vs/VarosiForgalom
/VarosiForgalom/.vs/ProjectEvaluation
/VarosiForgalom/bin/Debug/net8.0/VarosiForgalom.dll
/VarosiForgalom/bin/Debug/net8.0/VarosiForgalom.exe
/VarosiForgalom/bin/Debug/net8.0/VarosiForgalom.pdb
